<div class="tile-flip" {{bindAttr class="isEditing:flip"}}>
    <div class="flipper">
        <div class="front">
            <h2>{{name}}</h2>
            <h3>{{race}} {{class}}</h3>

            <h4>Basics</h4>
            <dl>
                <dt><a {{action showHitPoints}}>Hit Points</a></dt>
                <dd>
                    <span class="score">{{currentHitPoints}}</span>
                    <span class="modifier">{{hitPoints}}</span>
                </dd>
                <dt>Armor Class</dt>
                <dd><span class="score">{{armorClass}}</span></dd>
                <dt>Initiative</dt>
                <dd><span class="score">(+0)</span></dd>
            </dl>

            <h4>Ability Scores</h4>
            <dl>
                <dt>Strength</dt>
                <dd>
                    <span class="score">{{strength}}</span>
                    <span class="modifier">{{strengthModifier}}</span>
                </dd>
                <dt>Dexterity</dt>
                <dd>
                    <span class="score">{{dexterity}}</span>
                    <span class="modifier">{{dexterityModifier}}</span>
                </dd>
                <dt>Constitution</dt>
                <dd>
                    <span class="score">{{constitution}}</span>
                    <span class="modifier">{{constitutionModifier}}</span>
                </dd>
                <dt>Wisdom</dt>
                <dd>
                    <span class="score">{{wisdom}}</span>
                    <span class="modifier">{{wisdomModifier}}</span>
                </dd>
                <dt>Intelligence</dt>
                <dd>
                    <span class="score">{{intelligence}}</span>
                    <span class="modifier">{{intelligenceModifier}}</span>
                </dd>
                <dt>Charisma</dt>
                <dd>
                    <span class="score">{{charisma}}</span>
                    <span class="modifier">{{charismaModifier}}</span>
                </dd>
            </dl>

            <button {{action toggleProperty 'isEditing'}}>Edit</button>
        </div>

        <div class="back">
            <fieldset>
                <legend>Basics</legend>
                <p>
                    <label for="name">Name</label>
                    {{input type=text value=name}}
                </p>
                <p>
                    <label for="race">Race</label>
                    {{input type=text value=race}}
                </p>
                <p>
                    <label for="class">Class</label>
                    {{input type=text value=class}}
                </p>
                <p>
                    <label for="hitPoints">Hit Points</label>
                    {{input type=text value=hitPoints}}
                </p>
                <p>
                    <label for="armorClass">Armor Class</label>
                    {{input type=text value=armorClass}}
                </p>
            </fieldset>
            <fieldset>
                <legend>Ability Scores</legend>
                <p>
                    <label for="strength">Strength ({{strength}}, {{strengthModifier}})</label>
                    {{view App.RangeField valueBinding="strength" min="1" max="30"}}
                </p>
                <p>
                    <label for="dexterity">Dexterity ({{dexterity}}, {{dexterityModifier}})</label>
                    {{view App.RangeField valueBinding="dexterity" min="1" max="30"}}
                </p>
                <p>
                    <label for="constitution">Constitution ({{constitution}}, {{constitutionModifier}})</label>
                    {{view App.RangeField valueBinding="constitution" min="1" max="30"}}
                </p>
                <p>
                    <label for="wisdom">Wisdom ({{wisdom}}, {{wisdomModifier}})</label>
                    {{view App.RangeField valueBinding="wisdom" min="1" max="30"}}
                </p>
                <p>
                    <label for="intelligence">Intelligence ({{intelligence}}, {{intelligenceModifier}})</label>
                    {{view App.RangeField valueBinding="intelligence" min="1" max="30"}}
                </p>
                <p>
                    <label for="charisma">Charisma ({{charisma}}, {{charismaModifier}})</label>
                    {{view App.RangeField valueBinding="charisma" min="1" max="30"}}
                </p>
            </fieldset>
            <button {{action toggleProperty 'isEditing'}}>Done</button>
        </div>
    </div>
</div>