<h2>{{name}}</h2>
<h3>{{race}} {{class}}</h3>

<fieldset>
    <legend>Edit</legend>
    <p>
        <label for="name">Name</label>
        {{input type=text value=name}}
    </p>
    <p>
        <label for="race">Race</label>
        {{input type=text value=race}}
    </p>
    <p>
        <label for="class">Class</label>
        {{input type=text value=class}}
    </p>
</fieldset>