<div class="tile-flip" {{bindAttr class="isEditing:flip"}}>
    <div class="flipper">
        <div class="front">
            <h2>{{name}}</h2>
            <h3>{{race}} {{class}}</h3>

            <h4>Basics</h4>
            <ul class="tile-container">
                <li class="tile" {{action showHitPoints}}>
                    <span class="title">Hit Points</span>
                    <span class="primary">{{currentHitPoints}}</span>
                    <span class="secondary">{{hitPoints}}</span>
                </li>
                <li class="tile">
                    <span class="title">Armor Class</span>
                    <span class="primary">{{armorClass}}</span>
                </li>
                <li class="tile">
                    <span class="title">Initiative</span>
                    <span class="primary">(+0)</span>
                </li>
            </ul>

            <h4>Ability Scores</h4>

            <ul class="tile-container">
                <li class="tile">
                    <span class="title">Str</span>
                    <span class="primary">{{strength}}</span>
                    <span class="secondary">{{strengthModifier}}</span>
                </li>
                <li class="tile">
                    <span class="title">Dex</span>
                    <span class="primary">{{dexterity}}</span>
                    <span class="secondary">{{dexterityModifier}}</span>
                </li>
                <li class="tile">
                    <span class="title">Con</span>
                    <span class="primary">{{constitution}}</span>
                    <span class="secondary">{{constitutionModifier}}</span>
                </li>
                <li class="tile">
                    <span class="title">Wis</span>
                    <span class="primary">{{wisdom}}</span>
                    <span class="secondary">{{wisdomModifier}}</span>
                </li>
                <li class="tile">
                    <span class="title">Int</span>
                    <span class="primary">{{intelligence}}</span>
                    <span class="secondary">{{intelligenceModifier}}</span>
                </li>
                <li class="tile">
                    <span class="title">Cha</span>
                    <span class="primary">{{charisma}}</span>
                    <span class="secondary">{{charismaModifier}}</span>
                </li>
            </ul>

            <button {{action toggleProperty 'isEditing'}}>Edit</button>
        </div>

        <div class="back">
            <fieldset>
                <legend>Basics</legend>
                <p>
                    <label for="name">Name</label>
                    {{input type=text value=name}}
                </p>
                <p>
                    <label for="race">Race</label>
                    {{input type=text value=race}}
                </p>
                <p>
                    <label for="class">Class</label>
                    {{input type=text value=class}}
                </p>
                <p>
                    <label for="hitPoints">Hit Points</label>
                    {{input type=text value=hitPoints}}
                </p>
                <p>
                    <label for="armorClass">Armor Class</label>
                    {{input type=text value=armorClass}}
                </p>
            </fieldset>
            <fieldset>
                <legend>Ability Scores</legend>
                <p>
                    <label for="strength">Strength ({{strength}}, {{strengthModifier}})</label>
                    {{view App.RangeField valueBinding="strength" min="1" max="30"}}
                </p>
                <p>
                    <label for="dexterity">Dexterity ({{dexterity}}, {{dexterityModifier}})</label>
                    {{view App.RangeField valueBinding="dexterity" min="1" max="30"}}
                </p>
                <p>
                    <label for="constitution">Constitution ({{constitution}}, {{constitutionModifier}})</label>
                    {{view App.RangeField valueBinding="constitution" min="1" max="30"}}
                </p>
                <p>
                    <label for="wisdom">Wisdom ({{wisdom}}, {{wisdomModifier}})</label>
                    {{view App.RangeField valueBinding="wisdom" min="1" max="30"}}
                </p>
                <p>
                    <label for="intelligence">Intelligence ({{intelligence}}, {{intelligenceModifier}})</label>
                    {{view App.RangeField valueBinding="intelligence" min="1" max="30"}}
                </p>
                <p>
                    <label for="charisma">Charisma ({{charisma}}, {{charismaModifier}})</label>
                    {{view App.RangeField valueBinding="charisma" min="1" max="30"}}
                </p>
            </fieldset>
            <button {{action save}}>Save</button>
        </div>
    </div>
</div>