<div class="l-card-container tile-flip" {{bindAttr class="isEditing:flip"}}>
    <div class="flipper">
        <div class="l-card front">
            <header class="card-header">
                <h2>
                    {{name}}
                    <a {{action toggleProperty 'isEditing'}} class="de-em" href="#">Edit</a>
                </h2>
                <h3>Level-{{level}} {{race}} {{class}}</h3>
                <aside class="card-subheader" {{action showAddXP}}>
                    <span class="primary">{{xp}}<span class="de-em"> XP</span></span>
                    <span class="secondary">Level {{level}}</span>
                </aside>
            </header>

            <h4 class="card-section">Basics</h4>
            <ul class="tiles">
                <li class="tile">
                    <span class="title">Initiative</span>
                    <span class="primary">{{modifier initiativeBonus}}</span>
                </li>
                <li class="tile">
                    <a {{action showHitPoints}} href="#">
                        <span class="title">Hit Points</span>
                        <span class="primary">{{currentHitPoints}}</span>
                        <span class="secondary">of {{hitPoints}}</span>
                    </a>
                </li>
                <li class="tile">
                    <span class="title">Armor Class</span>
                    <span class="primary">{{armorClass}}</span>
                </li>
                <li class="tile">
                    <span class="title">Speed</span>
                    <span class="primary">{{speed}}</span>
                </li>
            </ul>

            <h4 class="card-section">Ability Scores</h4>

            <ul class="tiles">
                <li class="tile">
                    <span class="title">Str</span>
                    <span class="primary">{{modifier strengthModifier}}</span>
                    <span class="secondary">{{strength}}</span>
                </li>
                <li class="tile">
                    <span class="title">Dex</span>
                    <span class="primary">{{modifier dexterityModifier}}</span>
                    <span class="secondary">{{dexterity}}</span>
                </li>
                <li class="tile">
                    <span class="title">Con</span>
                    <span class="primary">{{modifier constitutionModifier}}</span>
                    <span class="secondary">{{constitution}}</span>
                </li>
                <li class="tile">
                    <span class="title">Wis</span>
                    <span class="primary">{{modifier wisdomModifier}}</span>
                    <span class="secondary">{{wisdom}}</span>
                </li>
                <li class="tile">
                    <span class="title">Int</span>
                    <span class="primary">{{modifier intelligenceModifier}}</span>
                    <span class="secondary">{{intelligence}}</span>
                </li>
                <li class="tile">
                    <span class="title">Cha</span>
                    <span class="primary">{{modifier charismaModifier}}</span>
                    <span class="secondary">{{charisma}}</span>
                </li>
            </ul>

            <h4 class="card-section">Attacks</h4>

            <div class="l-panel scrollable">
                <table>
                    <thead>
                        <tr>
                            <th style="width:50%">Weapon</th>
                            <th style="width:25%">Bonus</th>
                            <th style="width:25%">Damage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Short Sword</td>
                            <td>+2</td>
                            <td>1d6</td>
                        </tr>
                        <tr>
                            <td>Short Swords</td>
                            <td>+2, +0</td>
                            <td>1d6, 1d6</td>
                        </tr>
                        <tr>
                            <td>Longbow (150/600)</td>
                            <td>+4</td>
                            <td>1d8</td>
                        </tr>
                    </tbody>
                    <!--<thead>
                        <tr>
                            <th>Spells</th>
                            <th>Bonus</th>
                            <th>Damage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Shillelagh</td>
                            <td>+2</td>
                            <td>1d6</td>
                        </tr>
                    </tbody>-->
                </table>
            </div>

        </div>

        <div class="l-card back">
            <fieldset>
                <legend>Basics</legend>
                <p>
                    <label for="name">Name</label>
                    {{input type=text value=name}}
                </p>
                <p>
                    <label for="race">Race</label>
                    {{input type=text value=race}}
                </p>
                <p>
                    <label for="class">Class</label>
                    {{input type=text value=class}}
                </p>
                <p>
                    <label for="xp">XP</label>
                    {{input type=text value=xp}}
                </p>
                <p>
                    <label for="hitPoints">Hit Points</label>
                    {{input type=text value=hitPoints}}
                </p>
                <p>
                    <label for="armorClass">Armor Class</label>
                    {{input type=text value=armorClass}}
                </p>
                <p>
                    <label for="initiativeBonus">Initiative</label>
                    {{input type=text value=initiativeBonus}}
                </p>
                <p>
                    <label for="speed">Speed</label>
                    {{input type=text value=speed}}
                </p>
            </fieldset>
            <fieldset>
                <legend>Ability Scores</legend>
                <p>
                    <label for="strength">Strength ({{strength}}, {{modifier strengthModifier}})</label>
                    {{view App.RangeField valueBinding="strength" min="1" max="30"}}
                </p>
                <p>
                    <label for="dexterity">Dexterity ({{dexterity}}, {{modifier dexterityModifier}})</label>
                    {{view App.RangeField valueBinding="dexterity" min="1" max="30"}}
                </p>
                <p>
                    <label for="constitution">Constitution ({{constitution}}, {{modifier constitutionModifier}})</label>
                    {{view App.RangeField valueBinding="constitution" min="1" max="30"}}
                </p>
                <p>
                    <label for="wisdom">Wisdom ({{wisdom}}, {{modifier wisdomModifier}})</label>
                    {{view App.RangeField valueBinding="wisdom" min="1" max="30"}}
                </p>
                <p>
                    <label for="intelligence">Intelligence ({{intelligence}}, {{modifier intelligenceModifier}})</label>
                    {{view App.RangeField valueBinding="intelligence" min="1" max="30"}}
                </p>
                <p>
                    <label for="charisma">Charisma ({{charisma}}, {{modifier charismaModifier}})</label>
                    {{view App.RangeField valueBinding="charisma" min="1" max="30"}}
                </p>
            </fieldset>
            <button {{action save}}>Save</button>
        </div>
    </div>
</div>

<div class="l-card-container l-card"></div>