{{view App.RangeField valueBinding="hitPointModifier" min="-100" max="100"}}
<p>{{hitPointModifier}}</p>
<a href="#" {{action closeModal}}>&times;</a>
<a href="#" {{action resetHitPoints}}>Reset</a>
<a href="#" {{action commitHitPoints}}>OK</a>